{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<section class="py-5 portfolio">
    <h2 style="text-align: center;">Winter Special Healthy Food</h2>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 portfolio-wrap">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'assets/img/channa-panjiri.jpg' %}" style="height: 275px;" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">channa panjiri</h5>
                            <!-- Product price-->
                            Rs. 350/-
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div> -->
                </div>
            </div>
            <div class="col mb-5 portfolio-wrap">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'assets/img/alsi-panjiri banner.jpg' %}" style="height: 275px;" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Alsi Panjiri</h5>
                            <!-- Product reviews-->
                            <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div> -->
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">Rs.520.00/-</span>
                            Rs. 450.00/-
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div> -->
                </div>
            </div>
            <div class="col mb-5 portfolio-wrap">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'assets/img/khas-khas panjiri.jpg' %}" style="height: 278px;" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h6 class="fw-bolder">KhasKhas Panjiri </h6>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">Rs.2500.00</span>
                            Rs2400.00/-
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div> -->
                </div>
            </div>
            <div class="col mb-5 portfolio-wrap">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'assets/img/panjiri.jpg' %}" style="height: 275px;" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Desi Panjiri</h5>
                            <!-- Product reviews-->
                            <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div> -->
                            <!-- Product price-->
                            Rs. 390.00/-
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div> -->
                </div>
            </div>
            <div class="col mb-5 portfolio-wrap">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'assets/img/rice-pinni.jpg' %}" style="min-height: 224px;" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Rice Pinni</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">Rs. 420.00/-</span>
                            Rs.380.00/-
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div> -->
                </div>
            </div>
            <div class="col mb-5 portfolio-wrap">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'assets/img/alsi-pinni.jpg' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Alsi Pinni</h5>
                            <!-- Product price-->
                            Rs. 420.00/-
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div> -->
                </div>
            </div>
            <div class="col mb-5 portfolio-wrap">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'assets/img/aata-pinni.jpg' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Aata Pinni</h5>
                            <!-- Product reviews-->
                            <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div> -->
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">Rs.320.00</span>
                            Rs. 260.00/-
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div> -->
                </div>
            </div>
            <div class="col mb-5 portfolio-wrap">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'assets/img/till-pinni.jpg' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Till Pinni</h5>
                            <!-- Product reviews-->
                            <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div> -->
                            <!-- Product price-->
                            Rs. 450.00/-
                        </div>
                    </div>
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
  </section>
    <!--All Product Section End-->
  
{% endblock %}